.logo{
    height: auto;
    width: 100px;
    padding: 5px;
    background-color: #343A40;
    border-radius: 10px; 
}
.head {
    display: flex;
    background-color: #343A40;
    align-items: center;
    justify-content: center;
    color: #ECEBE9;
    margin: 3%;
    padding: 10PX;
}
h1{
    margin-left: 10px;
}

.Navbar{
    display: flex;
  justify-content: space-around;
  background-color: #343A40;
  padding: 20px;
  list-style-type: none;
  align-items: center;  /* Centre verticalement les éléments */
}

.Navbar a {
    text-decoration: none;  /* Retire le soulignement des liens */
    color:  #FFFFFF;  /* Hérite de la couleur du texte parent */
    padding: 5px;
    border-radius: 10px ;
    font-size: 20px;
  }